/.idea/

.DS_store

# Hugo related
.hugo_build.lock
/generated-site/
/resources/_gen

# Node.js staff for Mermaid
/node_modules

# Ruby and Asciidoctor
/.ruby-version

# JavaScript stuff will be installed by npm, e.g. MathJS
/static-content/js/
